<launch> 
  <node pkg="hear_navio_fc_example" type="global2inertial_node" 
  name="global2inertial_node" output="screen"/> 
  <node pkg="hear_navio_fc_example" type="providers_node" 
  name="providers_node" output="screen"/> 
  <node pkg="hear_navio_fc_example" type="waypoint_reference_node" 
  name="waypoint_reference_node" output="screen"/> 
  <node pkg="hear_navio_fc_example" type="mrft_rpz_node" 
  name="flight_controller" output="screen"/> 
</launch> 
